<div class="container">

  <div style = "color: green; font-weight: bold">
    <%= flash[:notice] %>
  </div>

  <div class="page-header">
    <h1>Listing Tasks</h1>
  </div>
  <% @tasks.each do |task| %>
  <div class="row">
    <h4><div class = "col-md-4">Description: <%= task.description %></div>
  </h4>
  <u><%= link_to "Destroy", task_path(task), method: :delete %></u>
  </div>
  <% end %>
  <div>
    <u><%= link_to "New Task", new_task_path %></u>
  </div>
</div>
