<div class="container">


  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Edit", edit_task_path(params[:id]), :class=> "btn btn-info" %>
    </div>

    <h1> <%= @task.description %> </h1>
  </div>

    <%= render partial: "form", locals: {name_of_view: "show"} %>
</div>
