<div class="container">


  <div class="page-header">
    <h1>Terms

    </h1>

  </div>

  <small>
    <p>gCamp is not reponsible for anything, unless it is positive</p>

    <p>
    </p>

    <p>You may not take us to court. For anything. Ever.</p>

  </small>

</div>
