
<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New User", new_user_path, :class=> "btn btn-primary" %>
    </div>
    <h1>Users</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><h4>Name</h4></th><th><h4>Email</h4></th><th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.first_name + " " + user.last_name, user_path(user[:id]) %>
          </td>
          <td >
            <% if user.id == current_user.id || current_user.admin || @members_associated.include?(user.id) %>
            <%= mail_to user.email, user.email %>
            <% end %>
          </td>
          <td>
            <div class="text-right">
              <% if user.id == current_user.id || current_user.admin %>
                <%= link_to "Edit", edit_user_path(user[:id]) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
