
  <div class = "form-group">
    <% if function.errors.any? %>
    <div class="alert alert-danger col-md-offset-1">
    <h2> <%= pluralize(function.errors.count, "error") %> prohibited this article from being saved:</h2>
    <% function.errors.full_messages.each do |msg| %>
    <div>
      <ul>
        <li> <%= msg %></li>
      </ul>
    <% end %>
    </div>
    </div>
    <% end %>
  </div>
