<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Project", new_project_path, :class=> "btn btn-primary" %>
    </div>
    <h1>Projects</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><h4>Name</h4></th><th><h4>Tasks</h4></th><th></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td> <%= link_to project.name, project_path(project[:id]) %> </td>
          <td> <%= link_to project.tasks.all.count, project_tasks_path(project) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
