<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="row">
    <div class = "col-md-4">
      <%= image_tag("10891456256_0b557c1564_b.jpg", :alt => "10891456256_0b557c1564_b feed", :class => 'img-responsive') %>
    </div>
    <div class = "col-md-8">
      <p>We are dedicated to the makers, creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your  online life better.</p>
        <p></p>
      <p>When we're not hard at work, we're hard at play. We're loud in the bar and we're always the ones shuttung the place down. Human creativity and creation is what drives us, and it infuses every featuer of gCamp.</p>
    </div>
  </div>
  <div class="row col-md-12">
    <div>
      <h5>gcamp is extremely active. Check out our killer stats below!</h5>
    </div>
    <div>
      <h5><%= "#{pluralize(@projects.count, 'Project')}, #{pluralize(@tasks.count, 'Task')}, #{pluralize(@memberships.count, 'Project Member')}, #{pluralize(@comments.count, 'Comment')}" %></h5>
    </div>
  </div>
</div>
